.header {
  overflow: hidden;
  background-color: #f1f1f1;
  padding: 10px 10px;
}

.header li {
  float: left;
  color: black;
  text-align: center;
  text-decoration: none;
  font-size: 18px;
  line-height: 25px;
  border-radius: 4px;
}

.header li a {
  padding: 12px;
  font-size: 18px;
  line-height: 25px;
  border-radius: 4px;
  color: black;
}
  
.header a:hover {
  background-color: #ddd;
  color: black;
}
  
.header a.active {
  border: 1px solid #272727;
  border-radius: 15px;
  background-color: #dcdcdc;
  color: #04AA6D
}

.header__logo {
  font-size: 36px;
  font-weight: bold;
  text-decoration: underline;
}
  
.header__navbar {
  height: 3.5rem;
  float: right;
  align-items: center;
}

.header__navbar ul {
  display: block;
}

.header__burger {
  display: none;
  cursor: pointer;
}
  
.topline, 
.middleline, 
.bottomline {
  width: 35px;
  height: 5px;
  background-color: #333;
  margin: 6px 0;
  transition: 0.4s;
}
  
.change 
.topline {
  -webkit-transform: rotate(-45deg) translate(-9px, 6px);
  transform: rotate(-45deg) translate(-9px, 6px);
}
  
.change 
.middleline {
  opacity: 0;
}
  
.change 
.bottomline {
  -webkit-transform: rotate(45deg) translate(-8px, -8px);
  transform: rotate(45deg) translate(-8px, -8px);
}

.header__switch {
  position: relative;
  display: inline-block;
  width: 42px;
  height: 24px;
  top: -7px;
  left: 14px;
}

.header__switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.switch__slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.switch__slider:before {
  position: absolute;
  content: "";
  height: 15px;
  width: 15px;
  bottom: 4px;
  background-color: #f1f1f1;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .switch__slider {
  background-color: #04AA6D;
}

input:focus + .switch__slider {
  box-shadow: 0 0 1px #04AA6D;
}

input:checked + .switch__slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

.switch__slider.round {
  border-radius: 30px;
}

.switch__slider.round:before {
  border-radius: 50%;
}

.slider__state {
  font-weight: bold;
  color: black;
  position: relative;
  left: 38px;
}
  
@media screen and (max-width: 500px) {
  .header a {
    float: none;
    display: inline-block;
    text-align: left;
  }

  .header__navbar {
    float: none;
    height: auto;
  }

  .header__burger {
    display: block;
    float: right;
  }

  .header__navbar ul {
    display: none;
  }

  .header__navbar ul li {
    float: right;
    clear: right;
  }

  .header__logo {
    font-size: 25px;
    display: inline-block;
    position: relative;
    top: -10px;
  }

  .header__navbar.change ul {
    display: block;
  }

  .header__switch {
    width: 38px;
    height: 18px;
    top: 12px;
    left: 14px;
  }

  .switch__slider:before {
    height: 11px;
    width: 11px;
  }

  .slider__state {
    top: -24px;
    left: 41px;
  }
}